# Root Gitignore
node_modules/
.env
.env.local
.DS_Store
*.log
inner-root-backend/target/
react-project/dist/
react-project/node_modules/
.agents/
.gemini/
WhatsApp Image *.jpg
*.webp
v1.html
README.html
apache-maven-*/
!inner-root-backend/src/
!react-project/src/b